@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~antd/dist/antd.css";
.no-ant-item-margin .ant-form-item {
    margin: 0;
}

.ant-btn-primary {
    background-color: #358eed;
}
.my-select-container .ant-select .ant-select-selector {
  border-radius:20px;
}
.ant-select-selection.ant-select-selection--single {
    border-radius: 0px 8px 8px 0px;
}
